#rightPanel {
  padding: 100px 20px 0 20px;
}

.image {
  object-fit: contain;
  width: 692px;
  margin-top: 80px;
  padding-bottom: 50px;
}

.signup {
  font-weight: 700;
  margin-bottom: 50px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 85%;
}

#rightInputs {
  padding-top: 88.4px;
}

.labels {
  color: rgb(166, 165, 163);
  font-size: 17px;
}

.buttons__signup {
  background-color: #0071dc;
  border: none;
  color: white;
  padding: 13px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  width: 250px;
}

.buttons__signup:hover {
  background-color: #004f9a;
}

.accountExist {
  color: rgb(166, 165, 163);
  cursor: pointer;
  padding-left: 14px;
  padding-top: 10px;
}

.accountExist:hover {
  opacity: 0.7;
}

@media (max-width: 900px) {
  #rightInputs {
    padding-top: 83.4px;
  }
}

@media (max-width: 598px) {
  #leftPanel {
    display: none;
  }

  #rightPanel {
    margin-top: 0;
  }

  #rightInputs {
    padding-top: 0;
  }
}
