.row_container{
    margin: auto;
    padding: 0;
}

.item_container{
    padding: 0;
}

.left_container, .right_container{
    display: flex;
    height: inherit;
    padding: 20px;
    height: 700px;
}

.left_container{
    justify-content: center;
}

.right_container{
    flex-direction: column;
}

.left_container img{
    height: 100%;
    width: 100%;
}

.id{
    overflow-wrap: break-word;
    color: rgb(152,144,130);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: Roboto,sans-serif;
}

.title{
    font-size: 18px;
    font-weight: 700;
    color: rgb(188,183,174);
    line-height: 1.3;
}

.stock_container{
    margin: 0 0 15px;
}

.stock{
    color : rgb(188,183,174);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
}

.price_container{
    color: rgb(152, 144, 130);
    font-weight: 400;
    font-size: 14px;
}

.price{
    color: rgb(232, 230, 227);
    font-size: 15px;
    font-weight: 700;
}

.quantity_container{
    width: 100%;
}

.qty_btn{
    /* display: flex;
    flex-direction: column; */
}

.qty_inc_btn, .qty_dec_btn{
    position: absolute;
    height: 20.5px;
    width: 24px;
    line-height: 1;
    cursor: pointer;
    right: 0;
    text-align: center;
    border: 1px solid white;
}

.qty_inc_btn{
    top: 0;
    bottom: auto;
}

.qty_dec_btn{
    top: auto;
    bottom: 0;
}

.quantity{
    color: rgb(152, 144, 130);
    font-size: 14px;
    font-weight: 400;
}

.quantity_select{
    display: inline-block;
    position: relative;
    max-width: 80px;
    vertical-align: middle;
    margin-right: 10px;
    overflow: hidden;
    box-sizing: border-box;
    border-color: rgb(55, 60, 62);
}

.quantity_input, .quantity_input:focus{
    width: 100%;
    text-align: center;
    padding: 0 33px 0 10px;
    height: 40px;
    line-height: 48px;
    border-color: rgb(55, 60, 62);
    color: rgb(152, 144, 130);
    font-size: 14px;
    background: 0 0;
    border: 1px solid #e5e5e5;
    outline-color: 0;
}

.quantity_input:focus{
    outline-color: 0;
    border-color: rgb(8, 98, 172);
}

.clickable_button{
    background-color: #0071dc;
    width: 200px;
    margin: 5px 15px 5px 0;
    color: rgb(232, 230, 227);
    font-size: 17px;
    font-weight: 400;
    padding: 10px 0;
}


.btn_container{
    margin: 15px 0;
}

.description_container{
    flex-grow: 1;
    overflow-y: scroll;
}

.description_text{
    color: rgb(152, 144, 130);
    font-size: 14px;
    font-weight: 400;
}

@media(max-width : 576px){
    .row_container{
        height: fit-content;
        width: 100vw;
    }
    .left_container{
        height: 1%;
    }

    .left_container img{
        height: 100%;
        width: 70%;
        margin: auto;
    }

    .right_container{
        height: 70%;
    }

    .btn_container{
        text-align: center;
    }

    .clickable_button{
        width: 100%;
    }

}
