.searchIconBox{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #0071dc;
    border-left-width: 0;
    background-color: #0071dc;
}

.searchIconBox:hover{
    background-color: #004f9a;
}

.searchInputBox{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.searchInputBox:focus{
    border-color: unset;
    box-shadow: unset;
}

.searchForm{
    
}

.icon{
    color: white;
}

@media(min-width : 992px){
    .searchForm{
        width: 70%;
    }
}