.searchIconBox {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: #0071dc;
  border-left-width: 0;
  background-color: #ffc320e3;
}

.searchIconBox:hover {
  background-color: #ffc320;
}

.searchInputBox{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: auto;
}

.searchInputBox:focus {
  border-color: unset;
  box-shadow: unset;
}

.searchForm{
    width: 100%;
}

@media (min-width: 992px) {
  .searchForm {
    width: 70%;
  }
}

@media(max-width : 992px){
    .searchForm{
        /* width: 70%; */
    }
}
