* {
  margin: 0;
}

.wrapper {
  overflow: hidden;
  width: 70%;
  padding-bottom: 50px;
  margin: auto;
  /* background-color: lightslategray; */
  margin-bottom: 16px;
}

.wishlist_btn{
  border-radius: 50%;
  /* background-color: rgba(0, 0, 0, .50); */
  background-color: transparent;
  border-width: 0;
  margin: 35%;
}

.wishlist_btn:hover{
  color: #FD6F96;
}

.fa_heart{
  font-size: 2rem;
}

/* .product {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
} */

/* .lessproduct {
  display: flex;
  padding: 10px 20px;
  justify-content: flex-start;
} */

.productEntry {
  margin: 0 20px 10px 20px;
}

.product_description{
  word-wrap: break-word;
}

.product_description p{
  color: #454545;
}

.image {
  height: 200px;
  width: 200px;
  position: relative;
  margin: auto;
}

.image img {
  width: 200px;
  height: 200px;
  position: unset;
  z-index: 1;
}

.hoverimage {
  padding: 10px 10px;
  width: 200px;
  height: 200px;
  position: absolute;
  opacity: 0;
  z-index: 99;
}
.hoverimage:hover {
  padding: 10px 10px;
  opacity: 1;
  z-index: 99;
  background-color: rgba(241, 229, 229, 0.685);
}

p {
  font-size: 20px;
}

.price{
  font-weight: 700;

}

.wrapper div button{
  top: 70px;
}



