.buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 24%;
}

.buttons button {
  margin-right: 10px;
}

.products {
  display: flex;
  flex-flow: wrap;
  margin: auto;
  width: 70%;
}

.productEntry {
  width: 200px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.image {
  height: 200px;
  width: 200px;
  position: relative;
  margin: auto;
  margin-top: 20px;
}

.hoverimage {
  padding: 10px 10px;
  width: 200px;
  height: 200px;
  position: absolute;
  opacity: 0;
  z-index: 99;
  transition: all 0.4s ease-out 0s;
}
.hoverimage:hover {
  padding: 10px 10px;
  opacity: 1;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.75);
}

.wishlist_btn {
  border-radius: 50%;
  /* background-color: rgba(0, 0, 0, .50); */
  background-color: transparent;
  border-width: 0;
  margin: 35%;
  transform: scale(1);
}

.wishlist_btn:hover {
  color: #fd6f96;
}

.fa_heart {
  font-size: 2rem;
}

.image img {
  width: 200px;
  height: 200px;
  position: unset;
  z-index: 1;
}

.price {
  font-weight: 700;
}

.product_description {
  word-wrap: break-word;
}

.product_description p {
  color: #454545;
}
