.email_container{
    display: flex;
    flex-direction: column;
}
.outer_container{

}


.title_wrapper{
    margin-bottom: 20px;
}

.page_text{
    font-size: 28px;
    font-weight: 700;
    /* margin-left: calc(100vw - 85vw); */
}



.edit_text{
    float: right;
    cursor: pointer;
    font-weight: 500;
    padding-top: 2%;
}

.edit_text:last-child{
    font-size: 20px;
}



.btn_container{
    margin: 25px auto;
}

.btn_container button{
    width: 80px;
    margin-right: 25px;
    margin-bottom: 8px;
}


@media(max-width : 576px){
    .btn_container button{
        width: 100%;
    }
}

@media(max-width : 400px){
    .email_container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}